{% extends "base.html" %}

{% block title %}Cantor College | Contact Us{% endblock %}

{% block content %}
<div class='section' id = 'section1'>
    <div class='insidesection'>
        <h2>Contact Us</h2>
        <p>Feel free to contact us using any of the methods below:</p>
        <table>
            <tr>
                <td>Telephone</td>
                <td>(01321) 2340 235</td>
            </tr>
            <tr>
                <td>Fax</td>
                <td>(01321) 2340 235</td>
            </tr>
             <tr>
                <td>Email</td>
                <td>info@cantorcollege.ac.uk</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}