nav li a:hover {
  color: #7e8aa2;
}
.container {
  margin: auto;
  max-width: 1200px;
  min-width: 600px;
}
nav ul {
  padding: 0;
  flex-direction: row;
  flex-wrap: initial;
  justify-content: center;
}
nav ul li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-top: 1px solid #7e8aa2;;
  border-left: 1px solid #7e8aa2;
  
}
nav li:last-child {

   border-right: 1px solid #7e8aa2;
}
header {
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  margin:0 auto;
  justify-content: center;
}
.section{
    flex-direction: row;
}
.reverseDesktopDisplay{
  flex-direction: row-reverse;
}