h1,h2,h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;   
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 24px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.6px;
    background-color: rgb(245, 245, 245 );
}
.container {
  width: 95%;
  margin: 0 auto; 
  white-space: nowrap;
  overflow: hidden;
}
#logo-img{
    min-width: 50px;
    height: auto;
   
}
#Logo,#logo-img{
    padding-left: 10px;
    display: flex;
    text-align: center;
}
header,#Logo{
  background-color: #0A437C;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
nav ul li {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
nav ul li a {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
}
footer {
  border-top: 1px solid #ccc;
  margin: 20px 10px 10px 0;
  font-size: 0.8em;
  text-align: center;
  font-style: italic;
}
.resize-img{
  width: 100%;
  height: auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
}
.sectionHolder{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin:20px auto;
    border: none;
    border-bottom: 1px solid rgb(220,220,220);
    padding-bottom: 10px;
}
.section:first-of-type{
  border-top: 1px solid rgb(220,220,220);
}
.section:last-of-type{
  border-bottom: none;
}
.insidesection
{
    margin: 8px;
    padding: 10px;
    border: 1px solid rgb(220,220,220);
    border-radius: 4px;
    box-shadow: 0 0 10px #242424;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#beigeBack
{
  background-color: beige;
}
#lightblueBack
{
  background-color: rgb(220, 245, 240);
}

button{
  background-color: #F28B30;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-shadow: 0 0 10px #242424;
  
}