{% extends "base.html" %}
{% block description %}<meta name="description" content="A page containing different methods of contacting cantor college">{% endblock %}

{% block title %}Cantor College | Contact Us{% endblock %}

{% block content %}
<div class='section' id = 'beigeBack'>
    <p><img src="{{url_for('static', filename = 'images/rainbow.jpg')}}" alt="A wall decorated with multiple bright stripes" class="resize-img DesktopSmallerImages"></p>
    <div class='insidesection'>
        <h2>Contact Us</h2>
        <p>Feel free to contact us using any of the methods below:</p>
        <table>
            <tr>
                <td>Telephone</td>
                <td>(01321) 2340 235</td>
            </tr>
            <tr>
                <td>Fax</td>
                <td>(01321) 2340 235</td>
            </tr>
             <tr>
                <td>Email</td>
                <td>info@cantorcollege.ac.uk</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}