{% extends "base.html" %}
{% block description %}<meta name="description" content="Information about the available facilities the college has to offer">{% endblock %}

{% block title %}Cantor College | Facilities{% endblock %}

{% block content %}
<div class="section" id="lightblueBack">
    <p><img src="{{url_for('static', filename = 'images/cantoroverbalcony.jpg')}}"
            alt="The inside of Cantor College from a view over a balcony, showing numerous facilities such as computer booths and office buildings"
            class="resize-img DesktopImages"></p>
    <div class="insidesection">
        <h2>Facilities</h2>
        <div class="LongWords" style="max-width:400px">
            <p>The College is located in the attractive and pleasantly refurbished Building. The building houses
                computing laboratories, and lecture/tutorial rooms. It has its own catering facilities and student work
                areas. There is also a car park to the back of the building.</p>
            <p>Our building has space of 9500m², houses over 240 staff and provides teaching space for more than 1600
                students.</p>
        </div>

    </div>
</div>
<div class="section reverseDesktopDisplay">
    <p><img src="{{url_for('static', filename = 'images/cantoroffice.jpg')}}"
            alt="A room inside Cantor College with multiple rounded tables and a projector, used to teach or hold meetings"
             class="resize-img DesktopImages"></p>
    <div class="insidesection">
        <div class="ListInSection">
            <h3>Facilities Include:</h3>
            <ul>
                <li>Wi-Fi Technology</li>
                <li>Pool teaching rooms, including classrooms to teach from 25 - 80 students</li>
                <li>Specialist faculty facilities</li>
                <li>A double height lecture theatre at first and second floor level</li>
                <li>Dramatic three-storey glass open atrium</li>
                <li>Meeting rooms</li>
                <li>Office accommodation</li>
                <li>Specialist IT facilities</li>
                <li>Reception desk area</li>
                <li>Catering outlet</li>
                <li>Parking for disabled badge holders</li>
                <li>Cycle racks</li>
                <li>Gallery</li>

            </ul>
        </div>
    </div>
</div>
{% endblock %}