{% extends "base.html" %}
{% block description %}<meta name="description" content="The home page of the cantor college website">{% endblock %}

{% block title %}Cantor College | Home Screen{% endblock %}
 {% block java %}<script src="{{url_for('static', filename = 'js/imageSlider.js')}}" defer></script>{% endblock %}
{% block content %}
<p> </p>
<div class="section" id="beigeBack">

    <p><img src="{{url_for('static', filename = 'images/cheesegrater.jpg')}}"
            alt="Car park that looks like a cheese grater" style="width:200px;" class="resize-img"></p>
    <div class="insidesection">
        <h2>Welcome To Cantor College</h2>
        <p>Welcome to the Cantor College website, here you will find everything you need to know about us. <br></br>
            We hope you find the website inspiring and informative. <br></br>
            Feel free to contact us for any extra help or information!</p>
        <button onclick="location.replace('/ContactUs')">Contact Us</button>
    </div>

</div>
<div class="section">
    <div class="insidesection">
        <h2>Facilities</h2>
        <p><img src="{{url_for('static', filename = 'images/ComputersAndEarphones.jpg')}}"
                alt="Row of computers with red earphones connected to them" style="width:200px" class="resize-img"></p>
        <p>Dive in to the facilities we provide for our students...</p>
        <br><button onclick="location.replace('/Facilities')">View Facilities</button></br>

    </div>

    <div class="insidesection">
        <h2>Learning Resources</h2>
        <p><img src="{{url_for('static', filename = 'images/ComputersAndMagazines.jpg')}}"
                alt="A room with computers and magazines" style="width:200px" class="resize-img"></p>
        <p>View the learning resources we have to offer our pupils...</p>
        <br><button onclick="location.replace('/LearningResources')">View Learning Resources</button></br>

    </div>

</div>
<div class="section reverseDesktopDisplay" id="lightblueBack">

    <p><img src="{{url_for('static', filename = 'images/cantorbuildingoutside.jpg')}}" alt="The outside of Cantor College" class="resize-img" id="imgSlider"></p>
    <div class="insidesection">
        <h2>Why Choose Cantor?</h2>
        <p>Take a peek into your future at Cantor College...</p>
        <br><button onclick="location.replace('/Courses')">View Courses</button></br>
    </div>
</div>
{% endblock %}