{% extends "base.html" %}
{% block description %}<meta name="description" content="A page which contains information for students, staff, and businesses">{% endblock %}

{% block title %}Cantor College | Information{% endblock %}
{% block java %}
<script src="{{url_for('static', filename = 'js/infoButtons.js')}}" defer></script>{% endblock %}
{% block content %}
<div class='section' id = 'section1'>
      <p><img src="{{url_for('static', filename = 'images/StudentPhoto.jpg')}}" alt="A student at Cantor College" class="resize-img DesktopSmallerImages" ></p>
    <div class='insidesection'>
        <h2>Information</h2>
        <p>Please select who you would like to view information for using the buttons below.</p>
        <div class = "InlineButtons">
            <button>Staff</button>
            <button>Students</button>
            <button>Businesses</button>
        </div>
    </div>

</div>
{% endblock %}